// Colors
$header-bg-color: rgba(117, 117, 117, 0.5);
$header-tx-color: rgba(255,255,255,.5);
$footer-bg-color: #212529;
$footer-tx-color: rgba(255,255,255,.5);
$link-hover-color: rgba(255,255,255,.75);
$inputcontrol-border-color: rgba(117, 117, 117, 1);
$inputcontrol-bg-color: #f0f0f0;
$form-bg-color: rgba(117, 117, 117, 0.5);
$text-color: #212529;
$white: #fff;

// Sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
